h1 {
    text-align: center;
}

.container {
    border: solid;
    border-width: 5px;
    margin: auto;
    height: 700px;
    width: 700px;
    display: grid;
}

#change-size {
    margin-top: 30px;
    width: 100px;
}

#size {
    display: block;
    text-align: center;
}

#clear {
    margin-top: 30px;
    width: 100px;
}

.buttons {
    text-align: center;
}

#dimensions {
    display: block;
    width: 205px;
    margin: auto
}

.choose {
    margin-bottom: 30px;
}